@use 'sass:meta';
@use 'sass:map';

@mixin company-page-address-delete-message($name: '.address-delete-message') {
    #{$name} {
        @if meta.mixin-exists(company-page-address-delete-message-base-hook) {
            @include company-page-address-delete-message-base-hook;
        }

        &__delete-title {
            color: map.get($setting-color-actions, alert);
        }

        &__delete-message {
            @include helper-font-weight(bold);
        }

        &__address {
            color: $setting-color-main;
        }

        &__action {
            margin-right: map.get($setting-spacing, 'default');
        }

        @content;
    }
}
